<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goods items</title>
</head>

<body>

    <h1>Список товаров.</h1>

    {% if items_list %}

    <table border="1">
        <tbody>
            <tr>
                <td>Артикул</td>
                <td>Цена</td>
            </tr>

            {% for item in items_list %}
            <tr>
                <td>{{ item.code }}</td>
                <td>{{ item.price }}</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

    {% else %}
    <p>Товара нет. </p>
    {% endif %}
</body>

</html>