<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2>Это главная страница.</h2>
{% if request.user.is_authenticated  %}
<h3>Добро пожаловать на сайт {{ request.user.first_name.capitalize }}</h3>
<p>День рождения: {{request.user.profile.date_of_birth}}</p>
<p>Город: {{request.user.profile.city}}</p>

{% else %}
<h3> Вы не авторизованы на нашем сайте.</h3>
<a href="{% url 'login' %}">Войти</a>
{% endif %}
    
</body>
</html>